<h1>Purchases</h1>

<center><nav><a href="purchases/add">Add Purchase</a>
<a href="/">Home</a></nav></center>


<table class="table">
	<tr>
		<td>
			<h3>ProductName</h3>
		</td>
    <td>
      <h3>SupplierName</h3>
    </td>
    <td>
      <h3>Quantity</h3>
    </td>
    <td>
      <h3>Total_Cost</h3>
    </td>
	</tr>

     
{{purchases}}
  <tr>
        <td>
      {{products}}
        </td>
      	<td>
  		{{suppliers}}
  	   </td>
        <td>
      {{Quantity}}
       </td>
        <td>
      {{Total_Cost}}
       </td>
  	<td>
  		<a href="/Purchases/edit/{{id}}">Edit</a>
  	</td>
  	<td>
  		<a href="/Purchases/delete/{{id}}">Delete</a>	
  	</td>

  </tr>
{{purchases}}
</table>
