<h1>Suppliers</h1>

<a href="suppliers/add">Add Suppliers</a>
<a href="/">Home</a>

<table class="table">
	<tr>
		<td>
		<h5>Suppliers Name</h5>	
		</td>
    <td>
     <!-- <h5>Product Name</h5>  -->
    </td>
    <td>
    <!-- <h5>Category Name</h5>   -->
    </td>
    <td>
      <!-- <h5>Quantity Bought</h5> -->
    </td>
	</tr>
{{#products}}
  <tr>
  	<td>
  		{{name}}
  	</td>
    <td>
      <!-- {{ProductName}} -->
    </td>
    <td>
      <!-- {{CategoryName}} -->
    </td>
    <td>
      <!-- {{Quantity}} -->
    </td>
  	<td>
  		<a href="/suppliers/edit/{{name}}">Edit</a>
  	</td>
  	<td>
  		<a href="/suppliers/delete/{{name}}">Delete</a>	
  	</td>

  </tr>
{{/products}}
</table>
