<h1>Sales</h1>

<a href="sales/add">Add Sales</a>
<a href="/">Home</a>
<table class="table">
	<tr>
    <td>
    <h4>Date</h4>  
    </td>
    <td>
      <h4>Product Name</h4>
    </td>
    <td>
      <h4>Category Name</h4>
    </td>
    <td>
      <h4>Sold Number</h4>
    </td>
    <td>
     <h4>Selling Price</h4> 
    </td>
	</tr>
{{#products}}
  <tr>
      <td>
      {{Date}}
    </td>
      <td>
      {{ProductName}}
    </td>
    <td>
      {{CategoryName}}
    </td>
      <td>
      {{SoldNumber}}
    </td>
      <td>
      {{SellingPrice}}
    </td>
  	<td>
  		<a href="/Sales/edit/{{id}}">Edit</a>
  	</td>
  	<td>
  		<a href="/Sales/delete/{{id}}">Delete</a>	
  	</td>

  </tr>
{{/products}}
</table>
