<html>
<head>
		<title> 
			<h2>
				Edit a Product
			</h2>
		</title>
			<nav>
				<center> Edit a Product</center>		
				<a href="/">Home</a>
			</nav>
				
					
				
</head>

		<body>
			<form action="/products/edit/{{product.id}}" method="post">
				<select name="categoryId"> 
						{{#categories}}
							{{^selected}}
						    	<option value="{{id}}" >{{name}}</option>
						    {{/selected}}
						    {{#selected}}
						    	<option value="{{id}}" selected>{{name}}</option>
						    {{/selected}}
						{{/categories}} 
					</select>

				<input type="text" name="product" placeholder="Edit a product" value="{{product.name}}" /> 
				<input type="submit" name="submit" value="Submit"/>
			</form>
		</body>

</html>