<html>

		<head>
			<nav>
				<title>Edit purchase</title>
				<h2>Edit a purchase</h2>
				<a href="/">Home</a>
				<a href="/purchases">Baq</a>
			</nav>
			
		</head>

		<body>

		<!-- var result = mysql_query("select * from Categories"); -->
		
			<form action="/purchases/edit/{{purchase.id}}" method="post">
					<h3>Choose a product and supplier before editing a purchase</h3>

                <input type="number" name="quantity" min="0" max="1000" value="{{purchase.quantity}}" placeholder="quantity">

					<select name="product_id" label="Choose Product"> 
						{{#products}}
								{{^selected}}
								<option value="{{id}}">{{name}}</option>
								{{/selected}}

								{{#selected}}
								<option value="{{id}}" selected>{{name}}</option>
								{{/selected}}
						{{/products}}
					</select>

					<select name="supplier_id" label="Choose a Supplier"> 
						{{#suppliers}}
								{{^selected}}
								    <option value="{{id}}" >{{name}}</option>
								{{/selected}}
								
								{{#selected}}
						    		<option value="{{id}}" selected>{{name}}</option>
						    	{{/selected}}

						{{/suppliers}} 

						
						
					
					</select>

						
					
					<input type="currency" name="noSold" min="0.00" max="1000.00" value="{{purchase.cost_price}}" placeholder="No. Sold">
					<!-- <input type= "text" name= "purchase" placeholder	="Add a purchase"/> -->
					<input type="submit" name="submit" value="Submit"/>

			</form>
		</body>

</html>